<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Время до конца работы!!!</title>
</head>
<body>
<center>
    <p>Привет мой друг!!!</p>
    <p>Я могу подсказать сколько тебе осталось до конца рабочего дня.</p>
    <form method="POST">
        <p>Время начала работы: <input type="text" name="time"/></p>
        <p>Время окончания работы: <input type="text" name="timeEnd"/></p>
        <p><input type="submit" value="Вычеслить..."></p>
    </form>
</center>
</body>
</html>